*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  font-size:62.5%;
  font-family:"urbanist";
}

body{
  background-color: black;
}

h1,h2,h3,h4,h5{
  color: #fff;
}

p,
li,
a {
  font-size: 1.7rem;
  letter-spacing:0.1rem;
  line-height:1.6;
  color:#fff;
  
}

li{
  list-style: none;
}

a{
  color:#000;

  &:hover {
    color:#2e86c1;
  }
}

.container{
  max-width:120rem;
  margin:auto;
}

.grid{
  display: grid;
}

.grid-two-cols{
  grid-template-columns: repeat(2,1fr);
}
.grid-three-cols{
  grid-template-columns: repeat(3,1fr);
}
.grid-four-cols{
  grid-template-columns: repeat(4,1fr);
}


header{
  height:8rem;
  box-shadow:rgba(33,35,38,0.1) 0px 10px 10px -10px;
  background-color: #202020;
  width:100%;

  &.container{
    height:8rem;
  }
}

.navbar-grid{
  grid-template-columns: 5.5fr 1fr;
  height:8rem;
  padding: 1rem 0;
}

nav ul{
  display: flex;
  justify-content: flex-end;
  padding:1rem 0;
  gap:3rem;
  color:#fff;



  & li a {
    color:#fff;
    text-decoration: none;
  }
}

.ham-menu {
  display: flex;
}
.hero-section .container{
  padding:3.2rem;
  margin:-4rem auto;
  gap:20.4rem;
}

.heading-xl{
  margin-top: 10rem;
  font-size: 4rem;
  font-family: inherit;
}
.paragraph{
  margin:3.2rem 0;
}
.banner-image{
  width: 50rem;
  margin-top: 5rem;
}

@media screen and (max-width:430px){
  .hero-content{
    order:1;
  }

  .container .banner-image{
    width:80%;
    order:0;
  }
}
button{
  background-color:#202020;
  color:#fff;
  letter-spacing: 0.2rem;
  width:18rem;
  height: 3rem;
  border-radius: 1rem;
  border:1px solid white;
}


